.header {
    margin: 45px 0px;
    max-width: 880px;
    margin-left: auto;
    margin-right: auto;
    height: 74px;
    border-bottom: 1px solid #545454;
    
}
@media (max-width: 320px) {
    .header {
        margin-top: 26px;
        margin-bottom: 0px;
    }
    }