.edit-button__pen {
    padding: 6px 7px 7px 6px;
}
@media (max-width: 320px) {
    .edit-button__pen {
        padding: 4px 5px 5px 4px;
        height: 7.5px;
        width: 7.5px;


    


    }
    }